@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

/*
body {
  background-image: url(images/ishan-seefromthesky-BMJWpck6eQA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

*/

#myVideo1{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: rgb(9, 36, 55);
  margin-top: 65px;
  font-size: 4rem;
}

.btnDiv,
.form {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.btn {
  width: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  background: #ffffff4b;
  cursor: pointer;
  padding: 4px;
  outline: none;
}

.btn:hover {
  box-shadow: rgba(248, 245, 245, 0.56) 0px 22px 70px 4px;
  transition: 0.5s;
  scale: 1.1;
  background: rgba(236, 197, 197, 0.439);
}

.inputText {
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  text-align: center;
}

.info {
  color: #07010f;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.info > p {
  margin-top: 20px;
}

.temp {
  margin: 40px;
  font-size: 50px;
}

.max_min{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.max, .min {
  margin-bottom: 35px;
  gap: 40px;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.weather {
  color: #07010f;
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
}

.feeling {
  color: #07010f;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}
